<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ferienedteller3null.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <Ferienedteller3null.Properties.Settings>
            <setting name="SelectedVacationData" serializeAs="String">
                <value>2015-12-23</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Hei, Julenisse!</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SelectedTheme" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="UseShortStrings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarWarsCountDown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StarWarsMyDate" serializeAs="String">
                <value>2015-12-16</value>
            </setting>
            <setting name="StarWarsPremierDate" serializeAs="String">
                <value>2015-12-16</value>
            </setting>
            <setting name="StarWarsMyHour" serializeAs="String">
                <value />
            </setting>
            <setting name="selectedVacationHour" serializeAs="String">
                <value />
            </setting>
            <setting name="ChristmasRingsDate" serializeAs="String">
                <value>2015-12-24</value>
            </setting>
        </Ferienedteller3null.Properties.Settings>
    </userSettings>
</configuration>
